.follow_section {
  background: linear-gradient(180deg, #93ff8b 0%, #aff2d9 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 24px 150px;
}

@media (max-width: 768px){
  .follow_section{
    padding: 24px 15px;
  }
}

.row-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 420px){
  .row-nav{
    flex-direction: column;
  }
}

.hero-row{
  align-items: center;
  padding: 150px 0 120px 0;
}

.hero-content-otr{
  position: relative;
}

.hero-heading{
  position: absolute;
  font-family: "Tanker-Regular";
  font-size: 100px;
  line-height: 118px;
  color: #000;
  width: 150%;
  top: -230px;
  z-index: 2;
}

@media (max-width: 1300px){
  .hero-heading{
    top: -200px !important;
    width: 170%;
  }
  .hero-heading br{
    display: none;
  }
}

@media (max-width: 992px){
  .hero-heading{
    position: relative !important;
    top: 0 !important;
    width: 100% !important;
  }
}

.hero-desc{
  font-family: "Poppins-Regular";
  font-size: 16px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.7);
  margin: 60px 0;
}

@media (max-width: 575px){
  .hero-heading{
    font-size: 40px;
    line-height: 56px;
  }
  .hero-desc{
    margin: 24px 0;
  }
}

.action-otr {
  display: flex;
  align-items: center;
}

.follow_twitter span {
  margin-right: 8px;
}

.follow_twitter {
  display: flex;
  align-items: center;
  border: 2px solid #fee77f;
  color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: transparent;
  font-family: "Poppins-Regular";
  font-size: 18px;
  line-height: 34px;
  padding: 12px 17px;
  margin-right: 20px;
}

.follow_mint {
  border: 2px solid black;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  background-color: #f6f596;
  font-family: "Poppins-Regular";
  font-size: 18px;
  line-height: 34px;
  padding: 12px 17px;
}

.col-img-otr{
  padding-top: 130px;
}

@media (max-width: 1300px){
  .col-img-otr{
    padding-top: 100px !important;
  }
}

.col-img-inr{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-right: 50px;
}

@media (max-width: 1300px){
  .col-img-inr{
    padding-right: 0;
  }
}

.hero-img{
  width: 46%;
  border-radius: 20px;
  transition: .3s;
  transform: translate(0px , 0px);
}

.hero-img:hover{
  box-shadow: 0px 5px 20px 10px rgba(68, 44, 21, 0.4);
  transform: translate(30px ,-30px);
}

.hero-img:first-child{
  z-index: 2;
}

.hero-img:nth-child(3){
  z-index: 2;
}

.follow_twitter_blue {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  color: #fff;
  background: #1ca1f2;
  border-radius: 25px;
  width: auto;
  height: 52px;
  padding: 0px 50px;
}

.follow_twitter_blue span {
  margin-right: 15px;
}
