.roadMap_section {
  position: relative;
  background-color: #ffc3df;
  padding: 120px 130px;
}

@media (max-width: 768px){
  .roadMap_section{
    padding: 100px 15px;
  }
}

.rodmap-heading{
  font-family: "Tanker-Regular";
  font-size: 60px;
  line-height: 82px;
  letter-spacing: 1px;
  text-align: center;
  color: #000;
  margin-bottom: 55px;
}

@media (max-width: 575px){
  .rodmap-heading{
    font-size: 40px;
    line-height: 56px;
  }
}

.col-roadmap-otr{
  position: relative;
  text-align: center;
}

.roadmap-card-heading{
  font-family: "Tanker-Regular";
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 1px;
  text-align: center;
  margin: 24px 0 12px 0;
  color: #fff;
}

.roadmap-desc{
  font-family: "Poppins-Regular";
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #686161;
}

.roadmap-arrow{
  position: absolute;
  top: 30%;
  right: -30px;
  transform: translateY(-70%);
  z-index: 2;
}

@media (max-width: 1200px){
  .roadmap-arrow{
    display: none;
  }
}